<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Werkzeug Skeleton - Change This</title>
	<link rel="stylesheet" type="text/css" media="all" href="static/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="static/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="static/960.css" />
	<link rel="stylesheet" type="text/css" media="all" href="static/web_app.css" />
</head>
<body>
  <div class="body">{% block body %}{% endblock %}</div>
</body>
</html>
